Django==5.2.2
djangorestframework==3.16.0
django-extensions==4.1
asgiref==3.8.1
pillow==11.2.1
sqlparse==0.5.3
redis>=5.0.0
channels>=4.0.0
channels-redis>=4.0.0
requests>=2.32.0
qrcode>=8.2
certifi>=2025.7.14
charset-normalizer>=3.4.2
idna>=3.10
urllib3>=2.5.0
msgpack>=1.1.1
